.logo {
    width: 7%;
    height: 7%;

}

.admin_image {
    width: 100px;
    object-fit: contain;
}

.footer{
    position: absolute;
    bottom: 0;
}


body {
    margin: 50px 0;
}
/* Style the button */
.nav-link {
    color: white;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
/* Style the main content container */
#main-content {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    /* Add a border and shadow */
    border: 1px solid gray;
    box-shadow: 2px 2px 5px gray;
}


.column-container {
    /* Set the number of columns */
    column-count: 10;
    /* Add padding between the columns */
    column-gap: 20px;
    /* Add padding to the container */
    padding: 20px;
}
/* Style the columns */
.column {
    /* Add padding to the columns */
    padding: 10px;
    /* Add a border and shadow */
    border: 1px solid gray;
    box-shadow: 2px 2px 5px gray;
}